<div class="row top-menu">
    <div class="col-md-6">
        <a href="{{url_for('main.show_restaurants')}}" class="navbar-item">
            <span class="glyphicon glyphicon-home" aria-hidden="true"></span>Show All Restaurants
        </a>
    </div>
    <div class="col-md-6 text-right">
        {% if current_user.is_authenticated %}
        {% if current_user.is_admin %}
            <a href="{{ url_for('auth.admin') }}" class="navbar-item">Delete users</a>  <!-- this is the link to delete users -->
            <a href="{{ url_for('auth.manage_roles') }}" class="navbar-item">Add restaurant owner</a>  <!-- this is the link to the manageRoles.html page -->
        {% endif %}
        <a href="{{ url_for('auth.logout') }}" class="navbar-item">Logout</a> 
    {% else %}
        <a href="{{ url_for('auth.login') }}" class="navbar-item">Login</a>
        <a href="{{ url_for('auth.signup') }}" class="navbar-item">Sign Up</a>
    {% endif %}
    </div>
</div>